.reviews-section{
    display: flex;
   
}
.customer-reviews{
    height:60vh;
    width:100%;
}
.review-btn button{
    background-color: rgb(140, 120, 94);
    padding: 10px 15px;
    border-radius:10px;
    font-weight: 700;

}

.review-btn button:hover{
    background-color: rgb(92, 66, 32);
}